/* base style*/
* {
    box-sizing: border-box;
 }

h1 {
    margin-bottom: 15px;
    text-align: center;
}

p {
    border: 1px solid black;
    background-color: #A52A2A;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
}

.honey {
    border: 1px #A52A2A;
    text-align: right;
}

.soap {
    text-align: right;
}

.chapstick {
    text-align: right;
}

/* the responsive framework - 100% browser width */
.row {
    width: 100%;
}

/* the large screen style */
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        border: 1px solid greenyellow;
        margin: 0px;
    }
    .col-lg-1 {
        width: 33%;
    }
    .col-lg-2 {
        width: 33%;
    }
    .col-lg-3 {
        width: 33%;
    }
}

/* the medium screen style */
@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        border: 1px solid greenyellow;
    }
    .col-lg-1 {
        width: 50%;
    }
    .col-lg-2 {
        width: 50%;
    }
    .col-lg-3 {
        width: 100%;
    }
}

/* the small screen style */
@media (max-width: 767px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        border: 1px solid greenyellow;
        width: 100%;
    }
}