/* base style*/
* {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    padding: 0;
 }

h1 {
    margin-bottom: 3%px;
    text-align: center;
}

h3 {
    height: 25px;
    width: 95px;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    background-color: antiquewhite;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

p {
    border: 2%;
    font-family: Helvetica;
    color: white;
    padding: 10px;
    
}

.textbutmorecomplicated {
 background-color: aquamarine;
 border: 2px solid black;
}

.ddiv {
    margin: 10px;
}

/* the responsive framework - 100% browser width */
.row {
    width: 100%;
}

/* the large screen style */
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        width: 33%;
        margin: 5px;
    }
}

/* the medium screen style */
@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
    }
    .col-lg-1 {
        width: 50%;
    }
    .col-lg-2 {
        width: 50%;
    }
    .col-lg-3 {
        width: 100%;
    }
}

/* the small screen style */
@media (max-width: 767px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        width: 100%;
    }
}